
.PizzaCart{
    background-color: rgba(255, 255, 255, 0.9);
    height: 90vh;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.PizzaCart::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.PizzaCart {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}